@layer base {
	* {
		@apply border-border;
	}
	html {
		color-scheme: light dark;
	}
	html.dark {
		color-scheme: dark;
	}
	html.light {
		color-scheme: light;
	}
	body {
		@apply bg-background text-foreground font-sans;

		/** reset radix-vue classes when opening `DropdownMenu` **/
		@apply !overflow-y-scroll !pr-0;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
